Repository FGMEMBERS/C-17, pull requests merged in 2023-04, with the labels that each got.

#66 Loadmaster view
  C-17-set.xml
Labels: Model

#67 Liveries as a JSBsim System
  Aero/C-17.xml
  C-17-set.xml
  C-17-yasim-set.xml
  Dialogs/Livery.xml
  Dialogs/menubar.xml
  Models/C-17-GlobemasterIII.xml
  Models/C-17.xml
  Models/Liveries/IAF81.xml
  Models/Liveries/KAF342.xml
  Models/Liveries/RCAF177703.xml
  Models/effects/C-17_bumpspec.eff
  Nasal/systems2.nas
  Systems/fdm-systems-initialization.xml
  Systems/liveries-initialization.xml
  Systems/livery-updating.xml
  Systems/persistent-data.xml
Labels: FDM, Model

#68 Tail camera
  C-17-set.xml
Labels: enhancement, Model

#69 Empenage, Part 1
  Aero/C-17-aerodynamics.xml
  Aero/C-17-flightControl.xml
  Aero/C-17-groundReactions.xml
  Aero/C-17-propulsion.xml
  Aero/C-17.xml
  C-17-set.xml
  Dialogs/Autocoordination.xml
  Dialogs/menubar.xml
  Models/Panels/Instruments/Instruments.xml
  Models/Panels/Instruments/STANDBY/vor.xml
  Systems/fdm-systems-initialization.xml
  Systems/persistent-data.xml
Labels: FDM

#71 Modularize FDM
  Aero/C-17-aerodynamics.xml
  Aero/C-17-flightControl.xml
  Aero/C-17-groundReactions.xml
  Aero/C-17-massBalance.xml
  Aero/C-17-metrics.xml
  Aero/C-17-propulsion.xml
  Aero/C-17.xml
Labels: FDM

#72 Tagging
  C-17-set.xml
  Dialogs/C-17-tags.xml
  Dialogs/help.xml
  Hud/C-17-hud.xml
  Previews/previews.xml
Labels: enhancement

#73 Flaps and Slats implementation (1)
  Aero/C-17-aerodynamics.xml
  Aero/C-17-flightControl.xml
  Aero/C-17-groundReactions.xml
  Aero/C-17-massBalance.xml
  Aero/C-17-metrics.xml
  Aero/C-17-propulsion.xml
  Aero/C-17.xml
  C-17-set.xml
  Dialogs/multipliers.xml
  Hud/hud.xml
  Models/C-17.ac
  Models/C-17.xml
  Models/Panels/Instruments/FlapIndicator/FlapIndicator-systems.xml
  Models/Panels/Instruments/FlapIndicator/FlapIndicator.ac
  Models/Panels/Instruments/FlapIndicator/FlapIndicator.png
  Models/Panels/Instruments/FlapIndicator/FlapIndicator.xml
  Models/Panels/Instruments/FlapIndicator/FlapIndicatorIndex.png
  Models/Panels/Instruments/FlapIndicator/FlapIndicatorIndex.svg
  Models/Panels/Instruments/FlapIndicator/backlight.png
  Models/Panels/Instruments/FlapIndicator/backlighting.eff
  Models/Panels/Instruments/FlapIndicator/floodlight.png
  Models/Panels/Instruments/FlapIndicator/floodlighting.eff
  Models/Panels/Instruments/Instruments.xml
  Models/Panels/Instruments/LimitsPlackards/LimitsPlackard.ac
  Models/Panels/Instruments/LimitsPlackards/LimitsPlackard.png
  Models/Panels/Instruments/LimitsPlackards/LimitsPlackard.xml
  Models/Panels/Instruments/LimitsPlackards/floodlight.png
  Models/Panels/Instruments/LimitsPlackards/floodlighting.eff
  Models/Panels/Instruments/PanelLighting/PanelLighting-systems.xml
  Models/Panels/Instruments/PanelLighting/backlighting.eff
  Models/Panels/Instruments/PanelLighting/floodlighting.eff
  Systems/fdm-instruments-initialization.xml
  Systems/fdm-systems-initialization.xml
  Systems/keyboard.xml
  Systems/persistent-data.xml
Labels: enhancement, FDM, Model

#74 Instr light panel
  Models/Panels/Cockpit/C-17-Cockpit.ac
  Models/Panels/Cockpit/C-17-Cockpit.xml
  Models/Panels/Cockpit/dash-surface.png
  Models/Panels/Cockpit/floodlight.png
  Models/Panels/Cockpit/floodlighting.eff
  Models/Panels/Instruments/FlapIndicator/floodlight.png
  Models/Panels/Instruments/Instruments.xml
  Models/Panels/Instruments/PanelLighting/PanelLighting-fo.ac
  Models/Panels/Instruments/PanelLighting/PanelLighting-fo.xml
  Models/Panels/Instruments/PanelLighting/PanelLighting-systems.xml
  Models/Panels/Instruments/PanelLighting/PanelLighting.ac
  Models/Panels/Instruments/PanelLighting/PanelLighting.png
  Models/Panels/Instruments/PanelLighting/PanelLighting.xml
  Models/Panels/Instruments/PanelLighting/backlight.png
  Models/Panels/Instruments/PanelLighting/floodlight.png
Labels: enhancement, FDM, Model
